@import "tailwindcss";

:root {
  --background: #F7F9FB;
  --background-secondary:#F2F4F6;
  --primary: #4648D4;
  --primary-light: #E1E0FF;
  --secondary: #6FFBBE;
  --secondary-dark: #009668;
  --tertiary: #131B2E;
  --card-background:#FFFFFF;
  --text-color:#45464D;
}

